{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
      {% if messages %}
          {% for message in messages%}
              <p style="text-decoration:underline;">{{message}}</p>
          {% endfor %}
      {% endif %}
      
      <div class="login_div">
        <img src="{% static 'graphics/Logo-full.svg' %}" alt="Favorited Recipes">
        <form method="post">
          {% csrf_token %}

          <label class="label_account" for="username">Username</label>
          <div class="container_account">
            <input name="username" type="text" required placeholder="Username">
          </div>

          <label class="label_account" for="password">Password</label>
          <div class="container_account">
            <input name="password" type="password" required placeholder="Password">
          </div>

          <button type="submit">Login</button>
          <div class="signup_link">
            <p>Don't have an account? <a href="{% url 'signup'%}">Sign Up</p></a>
          </div>

        </form>
    </div>
{% endblock %}