<!DOCTYPE html>
{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<html lang="pt-br" div="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="sytlesheet" href="{% static 'styles.css' %}"
    </head>
    <body>

      {% if messages %}
        {% for message in messages%}
          <h1 style="color: firebrick;">{{message}}</h1>
        {% endfor %}
      {% endif %}
      
      <div class="login_div">
        <img src="{% static 'graphics/Logo-full.svg' %}" alt="Favorited Recipes">
        <form method="post">
          {% csrf_token %}

          <label class="label_account" for="username">Username</label>
          <div class="container_account">
            <input name="username" type="text" required placeholder="Username">
          </div>

          <label class="label_account" for="password">Password</label>
          <div class="container_account">
            <input name="password" type="password" required placeholder="Password">
          </div>

          <button type="submit">Login</button>
          <div class="signup_link">
            <p> <a href="#">Reset Password</p></a>
          </div>

        </form>
    </div>
  </body>
</html>
{% endblock %}