<!DOCTYPE html>
{% extends "flavourit/base.html" %}
{% block conteudo %}
{% block content %}

<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab current">
            <a href="">View Personal Information</a>
        </div>
    </div>
    <div class="header_recipe"><h1>{{user}}</h1></div>
    <div class="recipe-info">

        <table>
            <tr>
                <td><strong>Altura:</strong></td><td>{{altura}}</td>
            </tr>
            <tr>
                <td><strong>Peso:</strong></td><td>{{peso}}</td>
            </tr>
            <tr>
                <td><strong>Atividade:</strong></td><td>{{atividade}}</td>
            </tr>
            <tr>
                <td><strong>Birth Date:</strong></td><td>{{birthDate}}</td>
            </tr>
            <tr>
                <td><strong>Date Joined:</strong></td><td>{{dataEntrada}}</td>
            </tr>
        </table>
    </div>
    <div class="bottom-section">
        <form action="{% url 'account' %}" method="get">
            <button type="submit">Edit</button>
        </form>
    </div>
      
</div>
{% endblock %}
{% endblock %}