{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="tabs-bar">
    <div class="tab current">
        <a href="{% url 'ingredient_filter' %}">Adjust Personal Information</a>
    </div>
</div>
<div class="bottom-section">
    <label class="label_account" for="birth_date">Birth Date</label>
    <div class="container_account">
        <input name="birth_date" type="date">
    </div>
    <label class="label_account" for="weight">Weight</label>
    <div class="container_account">
        <input name="weight" type="number" min="0" max="800.00" step="0.01" placeholder="0.00"/> 
        <select>
            <option value="kg">kg</option>
        </select>
    </div>
    <label class="label_account" for="height">Height</label>
    <div class="container_account">
        <input name="height" type="number" min="0" max="3.00" step="0.01" placeholder="0.00"/> 
        <select>
            <option value="m">m</option>
        </select>
    </div>
    <label class="label_account" class="label_account" for="activity">Activity</label>
    <div class="container_account">
        <div name="activity" class="select_wrapper">
            <select>
                <option value="lightly_active">Lightly active (less than 3 days a week)</option>
                <option value="moderately_active">Moderately active (most days of the week)</option>
                <option value="very_active">Very active (every day)</option>
                <option value="extra_active">Extra active (two or more times a day)</option>
            </select>
        </div>
    </div>
</div>
<div class="bottom-section">
    <form action="{% url 'menu' %}" method="get">
        <button type="submit"><img src="{% static 'graphics/arrow-left.svg' %}">Back</button>
    </form>
</div>
{% endblock %}