<!DOCTYPE html>
{% extends "flavourit/base.html" %}
{% block conteudo %}
{% block content %}

<html lang="pt-br" div="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Menu Usuario</title>
    </head>
    <body>

        <div>
            <center><h4>Name: {{name}}</h4></center>
            <center><h4>Username: {{user}}</h4></center>
            <center><h4>Date Joined: {{dataEntrada}}</h4></center>
            <center><h4>Altura: {{altura}}</h4></center>
            <center><h4>Peso: {{peso}}</h4></center>
            <center><h4>Birth Date: {{birthDate}}</h4></center>
        </div>

        <div>
            <h4>Receitas Favoritadas: </h4>
            {% for i in Favoritadas %}
                {{ i }}
            {% endfor %}
        </div>
    </body>
</html>
{% endblock %}
{% endblock %}