<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FlavourIt</title>
        <meta name="description" content="Create incredible dishes with ingredients you already have at home.">
        <meta name="author" content="G">
        <link rel="icon" type="readme_graphics/x-icon" href="readme_graphics/favicon.ico">
    </head>
    <body class="{% if not user.is_authenticated %}auth-page{% endif %}">
        <div class="top-panel">
            {% if user.is_authenticated %}
                <a href="{% url 'menu' %}" class="panel-button">
                    <img src="{% static 'graphics/logo.svg' %}" alt="Menu">
                </a>
                <a href="{% url 'menu' %}" class="panel-button">
                    <img src="{% static 'graphics/search_green.svg' %}" alt="Menu">
                </a>
                <a href="{% url 'adicionar_receitas' %}" class="panel-button">
                    <img src="{% static 'graphics/plus.svg' %}" alt="Add New Recipes">
                </a>
                <a href="{% url 'receitas_favoritadas' %}" class="panel-button">
                    <img src="{% static 'graphics/heart-filled.svg' %}" alt="Favorited Recipes">
                </a>
                <a href="{% url 'account' %}" class="panel-button">
                    <img src="{% static 'graphics/user.svg' %}" alt="Account Settings">
                </a>
            {% endif %}
        </div>
        <div class="mobile-frame">
            {% block conteudo %} 
            {% endblock %}
        </div>
        <div class="landscape-mobile-warning">
            <p>Turn your device around to enter portrait mode!</p>
            <img src="{% static 'graphics/phone_illustration.svg'%}">
        </div>
    </body>
</html>
