{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}

<div class="filter-frame" style=" "> 
    <div class="tabs-bar"> 
        <div class="tab current">
            <a href="{% url 'frame9' %}">Recipe</a>
        </div>
        <div class="tab">
            <a href="{% url 'tool_filter' %}">Nutritional data</a>
        </div>
    </div>
<div>
    <div class="header">
        <p>Ratatouille</p>
        <!--<button class="more-options">⋮</button>-->
    </div>

    <div class="recipe-image">
        <img src="{% static 'graphics/ratatouille_stock.svg' %}" alt="Remi">
    </div>
    <div class="recipe-info">
        <div class="quick-info">
            <img src="{% static 'graphics/time_icon.svg' %}" alt="Time">
            <p>40:00</p>
            <img src="{% static 'graphics/bowl-spoon.svg' %}" alt="Portion">
            <p>00</p>
        </div>
        <div>
            <ul>
            <li>0 ml ingredients</li>
            <li>0 ml ingredients</li>
            <li>0 ml ingredients</li> 
            </ul>
        </div>
    </div>
    
</div>
    

<style>

    
    body {
        height: 100vh;
        background-color: var(--tertiary-fixed);
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--on-surface-variant);
        font-size: 2vh;
    }

    .header {
        display: flex;
        font-size: 1.25rem;
        justify-content: space-evenly;
        background-color: var(--surface-container); 
        width: 100%;  
        max-width: 353.38px;
     
        
    }

    .tabs-bar{
        width: 100%;
        background: var(--surface);
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        border-bottom: solid thin var(--on-surface-variant);
        
    }

    .tab{
        flex-grow: 1;
        height: 5.15vh;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }

    .tab a{
        height: 100%;
        line-height: 250%;
        color: #51453a;
        text-decoration: none;
    }

    .filter-frame {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;  
        max-width: 353.38px; 
        height: auto;
        padding: 0;
        margin: 0;
        flex-grow: 1;
    }

    .recipe-image {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
    }

    .recipe-image img {
        width: 100%;
        height: auto;
    }

    .recipe-info {
        background-color: var(--surface-container);
        width: 100%;  
        max-width: 353.38px; 
        height: auto;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 24px 24px;
        padding-bottom: 150px;
    }

    .quick-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
</style>



{% endblock %}