{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="main-menu">
    <form action="{% url 'ingredient_filter' %}" method="get">
        <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Ingredients</button>
    </form>

    <form action="{% url 'name_search' %}" method="get">
        <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Name</button>
    </form>
    <button type="button" class="logout-button"><img src="{% static 'graphics/logout.svg' %}">Exit Account</button>
</div>
{% endblock %}