{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
{% if user.is_authenticated %}
<div class="top-bar">
    <div class="left-top-bar">
        <form action="{% url 'menu' %}" method="get">
            <input type="image" src="{% static 'graphics/logo.svg' %}" name="submit" width="42" height="42" alt="submit"/>
        </form>
    </div>
    <div class="right-top-bar">
        <a href="{% url 'adicionar_receitas' %}">
            <img src="{% static 'graphics/heart-filled.svg' %}" alt="Favorited Recipes">
        </a>
        <a href="{% url 'receitas_favoritadas' %}">
            <img src="{% static 'graphics/heart-filled.svg' %}" alt="Favorited Recipes">
        </a>
        <a href="{% url 'account' %}">
            <img src="{% static 'graphics/user.svg' %}" alt="Account Settings">
        </a>
        <a href="{% url 'user' %}">
            <img src="{% static 'graphics/user.svg' %}" alt="Account Settings">
        </a>
    </div>
</div>
<div class="main-menu">
    <form action="{% url 'ingredient_filter' %}" method="get">
        <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Ingredients</button>
    </form>

    <form action="{% url 'name_search' %}" method="get">
        <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Name</button>
    </form>
    <form action="{% url 'logout'%}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button"><img src="{% static 'graphics/logout.svg' %}">Exit Account</button>
    </form>
</div>
{% else %}

<div class="not_signed_up">
    <img src="{% static 'graphics/Logo-full.svg' %}" alt="Logo-full">
    <h1>Transform what you have into something amazing!</h1>
    <h2>Create amazing dishes with the ingredients you already have at home.</h2>
    <div class="not_signed_up_buttons">
        <form action="{% url 'login' %}" method="get">
            <button type="submit">Log In</button>
        </form>
        <form action="{% url 'signup' %}" method="get">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}