{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="top-bar">
    <div class="left-top-bar">
        <img src="{% static 'graphics/logo.svg' %}">
    </div>
    <div class="right-top-bar">
        <img src="{% static 'graphics/heart-filled.svg' %}">
        <img src="{% static 'graphics/user.svg' %}">
    </div>
</div>
<div class="main-menu">
    <button type="button"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Ingredients</button>
    <button type="button"><img src="{% static 'graphics/search_light.svg' %}">Search Recipes by Name</button>
    <button type="button" class="logout-button"><img src="{% static 'graphics/logout.svg' %}">Exit Account</button>
</div>
{% endblock %}