{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab current">
        <a href="{% url 'ingredient_filter' %}">Pick a Recipe</a>
    </div>
    </div>

    <div class="middle-section">
        <input type="search" placeholder="Search recipes by ingredients...">
        <div class="results-section">
            <div class="result">
                <div class="img-container">
                    <img src="https://images.pexels.com/photos/400958/pexels-photo-400958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <p>Recipe's Name</p>
                </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="two-buttons">
            <form action="" method="get">
                <button type="submit"><img src="{% static 'graphics/arrow-left.svg' %}">Back</button>
            </form>
            <form action="{% url 'recipe_results' %}" method="get">
                <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}