{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}

<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab">
            <a href="{% url 'ingredient_filter' %}">Recipe</a>
        </div>
        <div class="tab current">
            <a href="{% url 'nutritional_data' %}">Nutritional data</a>
        </div>
    </div>
<div>
    <div class="header">
        <p>Ratatouille</p>
        <!--<button class="more-options">⋮</button>-->
    </div>

    <div class="recipe-image">
        <img src="{% static 'graphics/ratatouille_stock.svg' %}" alt="Remi">
    </div>

    
    <div class="recipe-info">
        <div class="quick-info">
            <img src="{% static 'graphics/time_icon.svg' %}" alt="Time">
            <p>01:30</p>
            <img src="{% static 'graphics/bowl-spoon.svg' %}" alt="Portion">
            <p>08</p>
        </div>

        <div class="container">
            <div class="ingredients-list">
                <ul>
                    <li>2 eggplants</li>
                    <li>6 roma tomatoes</li>
                    <li>2 yellow squashes</li> 
                    <li>2 zucchinis</li> 
                    <li>2 tablespoons olive oil</li>
                    <li>1 medium white onion</li>
                    <li>4 cloves garlic</li>
                    <li>1 red bell pepper</li>
                    <li>1 yellow bell pepper</li>
                    <li>salt, to taste</li>
                    <li>ground black pepper, to taste</li>
                    <li>28 oz crushed tomatoes(795 g)</li>
                    <li>2 tablespoons basil</li>
                </ul>
            </div>
            <div class="steps-list">
                <ul>
                <li>Preheat the oven for 375˚F (190˚C).</li>
                <li>Slice the eggplant, tomatoes, squash, and zucchini into approximately ¹⁄₁₆-inch (1-mm)-thick rounds</li>
                <li>Set aside.</li>
                <li>Heat the olive oil in a 12-inch (30-cm) oven-safe pan over medium-high heat</li>
                <li>Sauté the onion, garlic, and bell peppers until soft, about 10 minutes</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<style>
    
   * {
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        background-color: var(--tertiary-fixed);
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--on-surface-variant);
        font-size: 2vh; /*o tamanho original era 14pt que equivale a 18.67 px. 18.67 px corresponde a 2% da altura, ou seja 2vh*/
    }

    header {
        background-color: #FAEBE0;
        display: flex;
        font-size: 1.25rem;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding: 20px;
        height: auto;
    }
    

    .recipe-image {
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;
        flex-direction: column;
        justify-content: center;
        border-radius: 0;
    }

    .recipe-image img {
        width: 100%;
        height: auto;
    }

    .recipe-info {
        background-color: var(--surface-container);
        width: 100%;
        height: auto;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 24px 24px;
    }
    .quick-info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    

    .stat-item img {
        width: 28px;
        height: 28px;
        margin-bottom: 5px;
    }


    .more-options {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 5px;
        transition: color 0.3s;
    }

    .more-options:active {
        color: #2e0f0f;
    }

    .quick-info img{
        width: 3vh;
        height: 3vh;
    }

    .ingredients-list {
        float:left;
        width:50%;
    }

    .steps-list {
        float:right;
        width:50%;
    }
    
    html, body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*@media (max-width: 768px) {

        .recipe-header {
            font-size: 1.2rem;
        }

        .recipe-image {
            padding-bottom: 80%;
        }
    }*/

    @media (max-width: 480px) {
        .recipe-header h2 {
            font-size: 1rem;
        }

        .recipe-image img {
            height: 50%;
        }
    }

</style>

{% endblock %}