{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}

<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab {% if request.resolver_match.url_name == 'recipe_card' %}current{% endif %}">
            <a href="{% url 'recipe_card' recipe.id %}">Recipe</a>
        </div>
        <div class="tab {% if request.resolver_match.url_name == 'nutritional_data' %}current{% endif %}">
            <a href="{% url 'nutritional_data' recipe.id %}">Nutritional data</a>
        </div>
    </div>

    <div class="header_recipe">
        <h1>Nutritional Data for {{ recipe.nome }}</h1>
    </div>

    <div class="recipe-info">
        <div class="nutritional-info">
            <h2>Ingredients with Nutritional Data</h2>
            <ul>
                {% for ingredient in ingredientes %}
                <li>
                    <strong>{{ ingredient.nutrition_info.nome }}</strong>: 
                    {{ ingredient.quantidade }} {{ ingredient.unidade }} - 
                    {{ ingredient.nutrition_info.gordura }}g fat, 
                    {{ ingredient.nutrition_info.carboidrato }}g carbs, 
                    {{ ingredient.nutrition_info.proteina }}g protein
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
