{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}

<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab current">
            <a href="{% url 'ingredient_filter' %}">Recipe</a>
        </div>
        <div class="tab">
            <a href="{% url 'nutritional_data' %}">Nutritional data</a>
        </div>
    </div>

    <div class="header_recipe">
        <h1>{{ recipe.nome }}</h1>
        <div class="img-recipe">
            <img src="{{ recipe.image_url }}" alt="{{ recipe.nome }}"> 
        </div>
    </div>

    <div class="recipe-info">
        <div class="quick-info">
            <div>
                <img src="{% static 'graphics/clock.svg' %}" alt="Time">
                <p>{{ recipe.tempo|slice:":5"}}</p> 
            </div>
            <div>
                <img src="{% static 'graphics/bowl-spoon.svg' %}" alt="Portion">
                <p>{{ recipe.porcao }}</p> 
            </div>
        </div>

        <div class="ingredients-list">
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in ingredients %}
                <li>
                    {{ ingredient.quant }} {{ ingredient.unidade }} of {{ ingredient.nutrition_info.nome }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="instructions-list">
            <h3>Instructions</h3>
            <ol>
                {{ recipe.instructions|safe }}
            </ol>
        </div>
    </div>
</div>

{% endblock %}
