{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}

<div class="filter-frame">
    <div class="tabs-bar">
    <div class="tab {% if request.resolver_match.url_name == 'recipe_card' %}current{% endif %}">
        <a href="{% url 'recipe_card' recipe.id %}">Recipe</a>
    </div>
    <div class="tab {% if request.resolver_match.url_name == 'nutritional_data' %}current{% endif %}">
        <a href="{% url 'nutritional_data' recipe.id %}">Nutritional data</a>
    </div>
</div>


    <div class="header_recipe">
        <div class="header_line"><p>{{ recipe.nome }}</p>
            <div class="dropdown"></div>
            <button type="button" onclick="myFunction()" class="dropbtn">⋮</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="">Favourite</a>
                <a href="">Export</a>
                <a href="">Share</a>
            </div>
        </div>
        <div class="img-recipe">
            <img src="{{ recipe.image_url }}" alt="{{ recipe.nome }}"> 
        </div>
    </div>

    <div class="recipe-info">
        <div class="quick-info">
            <p>{{ recipe.tempo|slice:":5"}}</p> 
            <img src="{% static 'graphics/clock.svg' %}" alt="Time">
            {% if portions %}
                <p>{{ portions }}</p> 
            {% else %}
                <p>--</p> 
            {% endif %}
            <img src="{% static 'graphics/bowl-spoon.svg' %}" alt="Portion">
        </div>

        <div class="slow-info">
            <div class="ingredients-list">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in ingredients %}
                    <li>
                        {{ ingredient.quant }} {{ ingredient.unidade }} of {{ ingredient.nutrition_info.nome }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="instructions-list">
                <h3>Instructions</h3>
                <ol>
                    {{ recipe.instructions|safe }}
                </ol>
            </div>
        </div>
    </div>
</div>

<style>
    :root{
        --tertiary-fixed: #dbe8b5;
        --tertiary: #58633a;
        --on-surface-variant: #51453a;
        --on-variant: #ffffff;
        --surface:#fff8f5;
        --surface-container-highest: #cccccc;
        --surface-container: #f0e2d7;
        }

    .dropbtn {
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        left: 31vh;
        top: 28vh;
        background-color: var(--surface-container);
        overflow: auto;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: var(--on-surface-variant);
        padding: 1vh 2vh;
        text-decoration: none;
        display: block;
    }
    
    .show {display: block;}
    </style>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
    </script>

{% endblock %}
