{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="tabs-bar">
    <div class="tab">
        <a href="{% url 'ingredient_filter' %}">Ingredients</a>
    </div>
    <div class="tab">
        <a href="{% url 'tool_filter' %}">Tools</a>
    </div>
    <div class="tab current">
    <a href="{% url 'time_filter' %}">Time</a>
    </div>
</div>
<div class="filter-frame">
    <form action="{% url 'search_by_time' %}" method="get">
        <div class="time-section">
            <label for="recipe-time">Enter maximum time for recipe:</label>
            <input type="time" name="recipe-time" id="recipe-time">
        </div>
        <div class="bottom-section">
                <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search</button>
        </div>
    </form>
</div>
{% endblock %}