{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="tabs-bar">
    <div class="tab">
        <a>Ingredients</a>
    </div>
    <div class="tab current">
        <a>Tools</a>
    </div>
    <div class="tab">
    <a>Time</a>
    </div>
</div>
<div class="bottom-section">
    <p>Hide recipes that contain other tools?</p>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
    <button type="button"><img src="{% static 'graphics/search_light.svg' %}">Search</button>

</div>
{% endblock %}