{% extends 'flavourit/base.html' %}
{% block conteudo %}
{% load static %}
<div class="filter-frame">
    <div class="tabs-bar">
        <div class="tab">
            <a href="{% url 'ingredient_filter' %}">Ingredients</a>
        </div>
        <div class="tab current">
            <a href="{% url 'tool_filter' %}">Tools</a>
        </div>
        <div class="tab">
        <a href="{% url 'time_filter' %}">Time</a>
        </div>
    </div>

    <div class="middle-section">
        <form action="{% url 'search_by_tools' %}" method="get">  <!-- Added form -->
            <input type="search" placeholder="Search recipes by tools...">
            <div class="results-section">
                {% for utensilio in utensilios %}

                <div class="result">
                    <div class="img-container">
                        <img src="{{utensilio.image_url }}">
                    </div>
                    <label for="utensilio_{{ utensilio.id }}">{{ utensilio.nome }}</label>
                    <input type="checkbox"id="utensilio_{{ utensilio.id }}" name="utensilios" value="{{ utensilio.id }}">
                </div>
                {% endfor %}
            </div>

    
            <div class="bottom-section">
                <p>Hide recipes that contain other tools?</p>
                <label class="switch">
                    <input type="checkbox" name="busca_exclusiva" id="busca_exclusiva">
                    <span class="slider"></span>
                </label>
                <button type="submit"><img src="{% static 'graphics/search_light.svg' %}">Search</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}