:root{
            --tertiary-fixed: #dbe8b5;
            --tertiary: #58633a;
            --on-surface-variant: #51453a;
            --on-variant: #ffffff;
            --surface:#fff8f5;
            --surface-container-highest: #cccccc;
            --surface-container: #f0e2d7;
            }
            
            body {
                height: 100vh;
                background-color: var(--tertiary-fixed);
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: var(--on-surface-variant);
                font-size: 2vh; /*o tamanho original era 14pt que equivale a 18.67 px. 18.67 px corresponde a 2% da altura, ou seja 2vh*/
            }
            
            /* ====== MEDIA QUERIES PARA AJUSTES DE PROPORÇÃO DE TELA ====== */
            
            /*se a altura for maior que a largura*/
            .mobile-frame{
                width: 93vw; /*100 -7 por causa do padding*/
                height: 93vh; /*100 -7 por causa do padding*/
            
            }
            .landscape-mobile-warning{
                visibility: hidden; /*esconde o aviso para virar o dispositivo*/
                width: 0;
                height: 0;
            }
            
            /*se a largura for maior que a altura e a largura for maior que a largura de mobile*/
            @media (orientation: landscape) and (min-width: 915px){
                
                .mobile-frame{
                    height: 93vh; /*100-7 por causa do padding*/
                    width: 49.25vh; /*56.25/100 = 9/16, a mesma proporção de um telefone vertical. -7 por causa do padding*/
                }
                .landscape-mobile-warning{
                    visibility: hidden; /*esconde o aviso para virar o dispositivo*/
                    width: 0;
                    height: 0;
                }
            }
            
            /*se a largura for maior que a altura e a largura é uma largura de mobile*/
            @media (orientation: landscape) and (max-width: 915px){   
                .mobile-frame{
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
                .landscape-mobile-warning{
                    visibility: visible;
                    font-size: 4.34vh;/*pq troca de portrait para landscape ent a largura fica maior que a altura*/
                    width: 93vw;/*100 -7 por causa do padding*/
                    height: 93vh;/*100 -7 por causa do padding*/
                }
            }
            
            /* ====== FIM DE MEDIA QUERIES PARA AJUSTES DE PROPORÇÃO DE TELA ====== */
            
            /*TAGS HTML*/
            
            p{
                margin: 0;
                text-align: center;
            }
        
            button{
                height: 5.5vh;
                background-color: var(--tertiary);
                color: var(--on-variant);
                border: none;
                border-radius: 24px;
                font-size: 2vh; /*o tamanho original era 14pt que equivale a 18.67 px. 18.67 px corresponde a 2% da altura, ou seja 2vh*/
                padding:1vh 3vh;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0.85vh;
            }
        
            button img, .top-bar img{
                height: 3vh;
                width: 3vh;
            }
        
            input:checked + .slider {
                background-color: var(--tertiary);
            }
            input:focus + .slider {
                box-shadow: 0 0 1px --tertiary;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(3vh);
                -ms-transform: translateX(3vh);
                transform: translateX(3vh);
            }
        
            input[type="search"]{
                border: none;
                border-radius: 24px 24px 0 0;
                background-color: var(--surface-container);
                width: 100%;
                height: 5.15vh;
            }

            input[type="number"],select{
                width: 6vh;
                height: 100%;
                background: none;
                border: none;
            }
            
            input[type="checkbox"]{
                height: 3vh;
                width: 3vh;
            }

            input[type="time"]{
                background-color: var(--surface-container);
                border: none;
                height: 11vh;
                width: 22vh;
                text-align: center;
                font-size: 4vh;
            }

            input[type="date"]{
                border: none;
                background-color: rgba(0, 0, 0, 0);
            }
            
            /*FIM DE TAGS HTML*/
            
            /*CLASSES*/
            
            .mobile-frame{
                padding: 3.5vh 3.5vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        
            .landscape-mobile-warning{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8.4vh;
            }
        
            .landscape-mobile-warning img{
                width: 30vw;
                height: 30vh;
                transform: rotate(-90deg);
                animation: turning 1s ease infinite alternate;
            }
        
            .main-menu,.bottom-section{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3.5vh;
            }
        
            .top-bar{

                padding:10px;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                align-items: center;
            }
        
            .left-top-bar{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content:left;
            }
        
            .right-top-bar{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content:right;
                gap: 2vh;
            }
        
            .tabs-bar{
                width: 100%;
                background: var(--surface);
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                align-items: center;
                border-bottom: solid thin var(--on-surface-variant);
            }
            
            .tab{
                flex-grow: 1;
                height: 5.15vh;
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
            }
        
            .tab a{
                height: 100%;
                line-height: 250%;
                color: #51453a;
                text-decoration: none;
            }
        
            .current{/*para tab atual, colocar nos a*/
                border-bottom: solid var(--on-surface-variant);
            }
        
            .logout-button{
                background: none;
                color: var(--on-surface-variant);
                text-decoration: underline;
            }
        
            .switch {
                position: relative;
                display: inline-block;
                width: 7vh;
                height: 4vh;
            }
            .switch input {/*escondendo o checkbox original*/
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                border-radius: 24px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--surface-container-highest);
                -webkit-transition: .4s;
                transition: .4s;
            }
            .slider:before {
                position: absolute;
                content: "";
                border-radius: 50%;
                height: 3vh;
                width: 3vh;
                left: 0.5vh;
                bottom: 0.5vh;
                background-color: var(--on-variant);
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .img-container{
                width: 5vh;
                height: 5vh;
                border-radius: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-container img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        
            .result{
                background-color: var(--surface);
                width:100%;
                height: 5.15vh;
                display: flex;
                flex-direction: row;
                justify-content:space-evenly;
                align-items: center;
                border: solid thin var(--surface-container);
            }
        
            .result p{
                width: 30%;
            }

            .results-section{
                height: 50vh;
                overflow: hidden;
                overflow-y: auto;
            }

            .filter-frame{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3.5vh;
            }

            .middle-section{
                width: 100%;
            }

            .time-section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 72.5vh;
                text-align: center;
            }

            .header{
                border-radius: 24px 24px 0 0;
                background-color: var(--surface-container);
                width: 100%;
                height: 5.15vh;
            }

            .header_recipe{
                border-radius: 24px 24px 0 0;
                background-color: var(--surface);
                width: 100%;
                overflow: hidden;
                flex-grow: 1;
            }

            .header_recipe h1{
                text-align: center;
                margin: 0;
            }

            .img-recipe{
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-recipe img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .recipe-info{
                margin-top: -3.5vh;
                flex-grow: 1;
                background-color: var(--surface);
                width: 100%;
                overflow: hidden;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 24px 24px;
            }

            .quick-info{
                margin-top: 3.5vh;
                margin-left: 3.5vh;
                display: flex;
                flex-direction: row;
                gap: 3.5vh;
                justify-content:left;
                align-items: center;
                width: 100%;
            }

            .result-info{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .two-buttons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                gap: 3vh;
            }
            
            .container_account{
                border: thin solid var(--on-surface-variant);
                background-color: var(--surface-container);
                justify-content: center;
                align-items: center;
            }

            .two-buttons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                gap: 3vh;
            }
            
            .container_account{
                border: thin solid var(--on-surface-variant);
                background-color: var(--surface-container);
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
            }
            .select_wrapper select{
                width: 100%;
                overflow: hidden;
            }

            .select_wrapper, .container_account {
                width: 24vh;
                height: 6vh;
            }

            .label_account{
                font-size: 1.7vh;/*o tamanho original era 12pt que equivale a 16 px. 16 px corresponde a 1.7% da altura, ou seja 1.7vh*/
                margin-bottom: -4.5vh;
                margin-left: 16vh;
                z-index: 10000;
                background-color: var(--surface);
            }
            .not_signed_up{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                align-items:center;

            }
            .not_signed_up h1,h3{
                text-align: center;
            }
            .not_signed_up_buttons{
                display: flex;
                flex-direction: row;
                justify-content:center;
                gap: 3vh;
                align-items:center;
            }

            .login_div{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                align-items:center;
            }
            .login_div form{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
                align-items:center;
                gap: 3vh;
            }

            .login_div input{
                background-color: var(--surface-container);
                border: thin solid var(--on-surface-variant);
                width: 100%;
                height: 5.15vh;
            }

            .login_div label{
                font-size: 2vh;
            }
        
            /*FIM DE CLASSES*/
        
            /*ANIMAÇÔES*/
            @keyframes turning {
                0% {transform: rotate(-90deg);}
                100% {transform: rotate(0deg);}
            }
            /*FIM DE ANIMAÇÔES*/